.home {
  //
  // background-color: #49aeff;
  background-color: rgba(1, 33, 46, 1);
  color: #fff;

  h1{
    font-size: 40px;
  }

  .center{
    text-align: center;
  }

  ion-row{
    height: 60%;
  }


}
